{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/materialdesignicons.min.csss' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'assets/images/logo/logo.png' %}" type="image/x-icon"/>
</head>
<body>
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <section class="section">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </section>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/dynamic-pie-chart.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/fullcalendar.js' %}"></script>
    <script src="{% static 'assets/js/jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/js/world-merc.js' %}"></script>
    <script src="{% static 'assets/js/polyfill.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>