{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard - Matalam SBM{% endblock %}


{% block page_header_name %}
Users
{% endblock %}

{% block page_nav %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#0">Users</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Users List
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <!-- End Col -->
    <div class="col-lg-12">
      {% for message in messages %}
        {% if message.extra_tags == "activated_user" %}
        <div class="success-alert">
          <div class="alert">
            <h4 class="alert-heading">Horrayy</h4>
            <p class="text-medium">
              {{ message }}
            </p>
          </div>
        </div>
        {% endif %}

        {% if message.extra_tags == "user_already_verified" %}
        <div class="alert-box success-alert">
          <div class="alert">
            <h4 class="alert-heading">Oppsss</h4>
            <p class="text-medium">
              {{ message }}
            </p>
          </div>
        </div>
        {% endif %}

      {% endfor %}
      <div class="card-style mb-30">
        <div class="title d-flex flex-wrap align-items-center justify-content-between">
          <div class="left">
            <h6 class="text-medium mb-30">Available User</h6>
          </div>
        </div>
        <!-- End Title -->
        <div class="table-responsive">
          <table class="table top-selling-table">
            <thead>
              <tr>
                <th>
                  <h6 class="text-sm text-medium">Profile Image</h6>
                </th>
                <th class="min-width">
                  <h6 class="text-sm text-medium">
                    Firstname <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
                <th class="min-width">
                  <h6 class="text-sm text-medium">
                    Lastname <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
                <th class="min-width">
                  <h6 class="text-sm text-medium">
                    Status <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
                <th class="min-width">
                  <h6 class="text-sm text-medium">
                    Role <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
                <th class="min-width">
                  <h6 class="text-sm text-medium">
                    Date Added <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
                <th>
                  <h6 class="text-sm text-medium text-end">
                    Actions <i class="lni lni-arrows-vertical"></i>
                  </h6>
                </th>
              </tr>
            </thead>
            <tbody>
              {% if user_list %}
              {% for user in user_list %}
              <tr>
                <td>
                  <div class="product">
                    <div class="image">
                      <img src="{{ user.user_profile.url }}" alt="{{ user.username }}" />
                    </div>
                    <p class="text-sm">{{ user.username }}</p>
                  </div>
                </td>
                <td>
                  <p class="text-sm">{{ user.first_name }}</p>
                </td>
                <td>
                  <p class="text-sm">{{ user.last_name }}</p>
                </td>
                <td>
                  <span class="status-btn {% if user.is_active %}success{% elif user.is_active == False %}close{% endif %}-btn">{% if user.is_active %}Active{% elif user.is_active == False %}Pending{% endif %}</span>
                </td>
                <td>
                  <span class="status-btn success-btn">{{ user.user_role }}</span>
                </td>
                <td>
                  <p class="text-sm">{{ user.date_joined }}</p>
                </td>
                <td>
                  <div class="action justify-content-center gap-2">
                      <a href="{% url 'edituser' id=user.id %}" class="main-btn btn-sm primary-btn-group active">Update</a>
                      <a href="{% url 'activate' user_id=user.id %}" class="main-btn btn-sm primary-btn-group active">Activate</a>
                      <a href="{% url 'deleteuser' id=user.id %}" class="main-btn btn-sm danger-btn-group active">Remove</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="7">
                  <p class="text-sm text-center">No User Available</p>
                </td>
              </tr>
              {% endif %}
             
            </tbody>
          </table>
          <!-- End Table -->
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div class="left">

          </div>
          <div class="right">
            <nav>
              <ul class="base-pagination pagination">
                  {% if user_list.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ user_list.previous_page_number }}">
                        <i class="lni lni-angle-double-left"></i>
                      </a></li>
                  {% endif %}
          
                  {% for page_num in user_list.paginator.page_range %}
                      <li class="page-item {% if user_list.number == page_num %}active_state{% endif %}">
                          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                      </li>
                  {% endfor %}
                  
                  {% if user_list.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ user_list.next_page_number }}">
                            <i class="lni lni-angle-double-right"></i>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
          </div> 
        </div>
      </div>
    </div>
    <!-- End Col -->
  </div>
{% endblock %}